# ======================
# Git
# ======================
.git/
.gitignore
.gitattributes
.gitmodules
.gitkeep

# ======================
# Obsidian
# ======================
.obsidian/
.trash/
.smart-connections/

# ======================
# macOS
# ======================
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
